<!-- blog section starts  -->

    <section class="blog_section blog_two color_two mb-65">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>Blog Gentleman</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="blog_carousel blog_column3 owl-carousel">
                    <div class="col-lg-3">
                        <div class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="#">
                                        <img src="img/perfumes/1.jpg" alt="">
                                    </a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4 class="post_title">
                                        <a href="#">
                                            Flavours of Perfume
                                        </a>
                                    </h4>
                                    <p class="post_desc">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse excepturi cumque
                                        nulla saepe. Error, rem odio perferendis ullam facere veniam commodi minima
                                        delectus velit at obcaecati. Nam dolorem eligendi voluptates.
                                    </p>
                                    <footer class="btn_more">
                                        <a href="#">Read More...</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="#">
                                        <img src="img/perfumes/2.jpg" alt="">
                                    </a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4 class="post_title">
                                        <a href="#">
                                            Divine Of India
                                        </a>
                                    </h4>
                                    <p class="post_desc">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse excepturi cumque
                                        nulla saepe. Error, rem odio perferendis ullam facere veniam commodi minima
                                        delectus velit at obcaecati. Nam dolorem eligendi voluptates.
                                    </p>
                                    <footer class="btn_more">
                                        <a href="#">Read More...</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="#">
                                        <img src="img/perfumes/3.jpg" alt="">
                                    </a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4 class="post_title">
                                        <a href="#">
                                            Wardrobe Collection
                                        </a>
                                    </h4>
                                    <p class="post_desc">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse excepturi cumque
                                        nulla saepe. Error, rem odio perferendis ullam facere veniam commodi minima
                                        delectus velit at obcaecati. Nam dolorem eligendi voluptates.
                                    </p>
                                    <footer class="btn_more">
                                        <a href="#">Read More...</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="#">
                                        <img src="img/perfumes/4.png" alt="">
                                    </a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4 class="post_title">
                                        <a href="#">
                                            Best Perfume for Party
                                        </a>
                                    </h4>
                                    <p class="post_desc">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse excepturi cumque
                                        nulla saepe. Error, rem odio perferendis ullam facere veniam commodi minima
                                        delectus velit at obcaecati. Nam dolorem eligendi voluptates.
                                    </p>
                                    <footer class="btn_more">
                                        <a href="#">Read More...</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- blog section ends -->