<footer class="footer_widgets color_two" id="contato">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-7">
                        <div class="widgets_container contact_us" id="sobre">
                            <div class="footer_logo">
                                <a href="#"><img src="../img/gentleman-cropped.png" alt="Gentleman"></a>
                            </div>
                            <div class="footer_desc">
                                <p>Gentleman é sofisticação em três formas: perfumes que assinam sua presença,
                                    chinelos artesanais feitos à mão em couro genuíno, e shishas premium para
                                    festas, restaurantes e casamentos com serviço ao domicílio.</p>
                            </div>
                            <p>
                                <span>Endereço :</span> Luanda, Angola
                            </p>
                            <p><span>Email :</span> <a href="#">contato@gentleman.co.ao</a></p>
                            <p><span>Reservas / Contato :</span> <a href="tel:+244930361290">930 361 290</a> </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5">
                        <div class="widgets_container widget_menu">
                            <h3>Informações</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#sobre">Sobre Nós</a></li>
                                    <li><a href="#perfumes">Perfumes</a></li>
                                    <li><a href="#chinelos">Chinelos</a></li>
                                    <li><a href="#shishas">Shishas</a></li>
                                    <li><a href="#">Termos & Condições</a></li>
                                    <li><a href="#">Vale Presente</a></li>
                                    <li><a href="#">Minha Conta</a></li>
                                    <li><a href="#">Histórico de Pedidos</a></li>
                                    <li><a href="#">Lista de Desejos</a></li>
                                    <li><a href="#">Promoções</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widgets_container widgets_p_product">
                            <h3>Featured Products</h3>
                            <div class="small_product_container small_product_column1 owl-carousel">
                                <div class="small_product_list">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/1.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="img/perfumes/1.jpg" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Gentleman Oud Signature</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Kz 39990</span>
                                                    <span class="current_price" style="color: white;">Kz 37000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/2.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="img/perfumes/2.jpg" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Gentleman Sândalo Puro
                                                    </a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="old_price">Kz 49990</span>
                                                    <span class="current_price" style="color: white;">Kz 42000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/shisha/1.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="img/shisha/1.jpg" alt="">
                                                </a>

                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Shisha Cristal Clássica</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Kz 74990</span>
                                                    <span class="current_price" style="color: white;">Kz 72000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                                <div class="small_product_list">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/3.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="img/perfumes/3.jpg" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Gentleman Ambre Intense</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Kz 79990</span>
                                                    <span class="current_price" style="color: white;">Kz 75500</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/shisha/2.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="img/shisha/2.jpg" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Shisha Slim Prateada
                                                    </a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="old_price">Kz 65500</span>
                                                    <span class="current_price" style="color: white;">Kz 42500</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/sandalias/1.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="img/sandalias/1.jpg" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Chinelo Executive Couro</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Kz 59990</span>
                                                    <span class="current_price" style="color: white;">Kz 59000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widgets_container widgets_p_product">
                            <h3>Most Viewed Products</h3>
                            <div class="small_product_container small_product_column1 owl-carousel">
                                <div class="small_product_list">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/4.png" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="img/perfumes/4.png" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Gentleman Oud Signature</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Kz 39990</span>
                                                    <span class="current_price" style="color: white;">Kz 37000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/5.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="img/perfumes/5.jpg" alt="">
                                                </a>


                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Gentleman Sândalo Puro
                                                    </a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="old_price">Kz 49990</span>
                                                    <span class="current_price" style="color: white;">Kz 42000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/shisha/3.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="img/shisha/3.jpg" alt="">
                                                </a>

                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Shisha Cristal Clássica</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Kz 74990</span>
                                                    <span class="current_price" style="color: white;">Kz 72000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                                <div class="small_product_list">
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/6.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="img/perfumes/6.jpg" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Gentleman Ambre Intense</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Kz 79990</span>
                                                    <span class="current_price" style="color: white;">Kz 75500</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/shisha/4.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="img/shisha/4.jpg" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Shisha Cristal Clássica</a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Kz 74990</span>
                                                    <span class="current_price" style="color: white;">Kz 72000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/7.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="img/perfumes/7.jpg" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#" style="color: white;">Gentleman Citrus Fresh </a>
                                                </h4>

                                                <div class="price_box">
                                                    <span class="old_price">Kz 74990</span>
                                                    <span class="current_price" style="color: white;">Kz 72000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer_link">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Wish List</a></li>
                            <li><a href="#">Affiliate</a></li>
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">Newsletter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer section starts  -->

        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p>Copyright &copy; 2021 <a href="#">Perfume Store </a>All right Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer_payment text-right">
                            <ul>
                                <li><a href="#"><img src="icon/paypal.jpg" alt=""></a></li>
                                <li><a href="#"><img src="icon/paypal1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="icon/paypal2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="icon/paypal3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="icon/paypal4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="icon/paypal5.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- footer section ends -->