<!-- deals product area starts -->

                        <div class="deals_product_area mb-68">
                            <div class="section_title section_title_style2" id="chinelos">
                                <h2>Chinelos em Promoção</h2>
                            </div>
                            <div class="row">
                                <div class="deals_carousel product_column1 owl-carousel">
                                    <div class="col-lg-3">
                                        <article class="single_product">
                                            <figure>
                                                <div class="product_thumb">
                                                    <a href="#" class="primary_img">
                                                        <img src="img/sandalias/1.jpg" alt="">
                                                    </a>
                                                    <a href="#" class="secondary_img">
                                                        <img src="img/sandalias/1.jpg" alt="">
                                                    </a>
                                                    <div class="action_links">
                                                        <ul>
                                                            <li class="add_to_cart">
                                                                <a href="#" title="Add to Cart">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li class="wishlist">
                                                                <a href="#" title="Add to Wishlist">
                                                                    <i class="fa fa-heart-o"></i>
                                                                </a>
                                                            </li>
                                                            <li class="compare">
                                                                <a href="#" title="Add to Compare">
                                                                    <i class="fa fa-random"></i>
                                                                </a>
                                                            </li>
                                                            <li class="quick_button">
                                                                <a href="#" data-toggle="modal" data-target="#modal_box"
                                                                    title="Quick View">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <figcaption class="product_content">
                                                    <!-- for deals timing -->
                                                    <div class="product_timing">
                                                        <div data-countdown="2021/1/15"></div>
                                                    </div>
                                                    <h4 class="product_name">
                                                        <a href="#">Chinelo Couro Clássico</a>
                                                    </h4>

                                                    <div class="price_box">
                                                        <span class="old_price">Kz 18000</span>
                                                        <span class="current_price">Kz 12500</span>
                                                    </div>

                                                </figcaption>
                                            </figure>

                                        </article>
                                    </div>

                                    <div class="col-lg-3">
                                        <article class="single_product">
                                            <figure>
                                                <div class="product_thumb">
                                                    <a href="#" class="primary_img">
                                                        <img src="img/sandalias/2.jpg" alt="">
                                                    </a>
                                                    <a href="#" class="secondary_img">
                                                        <img src="img/sandalias/2.jpg" alt="">
                                                    </a>
                                                    <div class="action_links">
                                                        <ul>
                                                            <li class="add_to_cart">
                                                                <a href="#" title="Add to Cart">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li class="wishlist">
                                                                <a href="#" title="Add to Wishlist">
                                                                    <i class="fa fa-heart-o"></i>
                                                                </a>
                                                            </li>
                                                            <li class="compare">
                                                                <a href="#" title="Add to Compare">
                                                                    <i class="fa fa-random"></i>
                                                                </a>
                                                            </li>
                                                            <li class="quick_button">
                                                                <a href="#" data-toggle="modal" data-target="#modal_box"
                                                                    title="Quick View">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <figcaption class="product_content">
                                                    <!-- for deals timing -->
                                                    <div class="product_timing">
                                                        <div data-countdown="2021/1/26"></div>
                                                    </div>
                                                    <h4 class="product_name">
                                                        <a href="#">Chinelo Cross Premium</a>
                                                    </h4>

                                                    <div class="price_box">
                                                        <span class="old_price">Kz 16500</span>
                                                        <span class="current_price">Kz 11000</span>
                                                    </div>

                                                </figcaption>
                                            </figure>

                                        </article>
                                    </div>

                                    <div class="col-lg-3">
                                        <article class="single_product">
                                            <figure>
                                                <div class="product_thumb">
                                                    <a href="#" class="primary_img">
                                                        <img src="img/sandalias/3.jpg" alt="">
                                                    </a>
                                                    <a href="#" class="secondary_img">
                                                        <img src="img/sandalias/3.jpg" alt="">
                                                    </a>
                                                    <div class="action_links">
                                                        <ul>
                                                            <li class="add_to_cart">
                                                                <a href="#" title="Add to Cart">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li class="wishlist">
                                                                <a href="#" title="Add to Wishlist">
                                                                    <i class="fa fa-heart-o"></i>
                                                                </a>
                                                            </li>
                                                            <li class="compare">
                                                                <a href="#" title="Add to Compare">
                                                                    <i class="fa fa-random"></i>
                                                                </a>
                                                            </li>
                                                            <li class="quick_button">
                                                                <a href="#" data-toggle="modal" data-target="#modal_box"
                                                                    title="Quick View">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <figcaption class="product_content">
                                                    <!-- for deals timing -->
                                                    <div class="product_timing">
                                                        <div data-countdown="2021/1/20"></div>
                                                    </div>
                                                    <h4 class="product_name">
                                                        <a href="#">Chinelo Artesanal Marrom</a>
                                                    </h4>

                                                    <div class="price_box">
                                                        <span class="old_price">Kz 20000</span>
                                                        <span class="current_price">Kz 14000</span>
                                                    </div>

                                                </figcaption>
                                            </figure>

                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- deals product area ends -->

                        <!-- small product area starts -->

                        <div class="small_product_area mb-68">
                            <div class="section_title section_title_style2">
                                <h2>Mais Vendidos</h2>
                            </div>
                            <div class="small_product_container sidebar_product_column1 owl-carousel">
                                <div class="small_product_list">
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/1.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="img/perfumes/1.jpg" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#">Gentleman Noir EDP</a>
                                                </h4>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    <span class="old_price">Kz 33000</span>
                                                    <span class="current_price">Kz 20460</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/2.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="img/perfumes/2.jpg" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#">Gentleman Ambre Intense</a>
                                                </h4>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    <span class="old_price">Kz 28000</span>
                                                    <span class="current_price">Kz 19500</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/3.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="img/perfumes/3.jpg" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#">Gentleman Cedro Real</a>
                                                </h4>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    <span class="old_price">Kz 35000</span>
                                                    <span class="current_price">Kz 24000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>

                                </div>

                                <div class="small_product_list">
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/4.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="img/perfumes/4.jpg" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#">Gentleman Vetiver Gold</a>
                                                </h4>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    <span class="old_price">Kz 30000</span>
                                                    <span class="current_price">Kz 21000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/5.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="img/perfumes/5.jpg" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#">Gentleman Oud Signature</a>
                                                </h4>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    <span class="old_price">Kz 18000</span>
                                                    <span class="current_price">Kz 12500</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    <article class="single_product">


                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="img/perfumes/6.jpg" alt="">
                                                </a>
                                                <a href="#" class="secondary_img"><img
                                                        src="img/perfumes/6.jpg" alt=""></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#">Gentleman Citrus Fresh</a>
                                                </h4>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    <span class="old_price">Kz 16500</span>
                                                    <span class="current_price">Kz 11000</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>

                                </div>
                            </div>
                        </div>

                        <!-- small product area ends -->

                        <!-- testimonial section starts  -->

                        <div class="testimonial_style_two mb-60">
                            <div class="testimonial_container">
                                <div class="section_title section_title_style2">
                                    <h2>Testimonial</h2>
                                </div>
                                <div class="testimonial_sidebar_carousel owl-carousel">
                                    <div class="single_testimonial">
                                        <div class="testimonial_img">
                                            <a href="#"><img src="testimonial/testimonial1.jpg" alt=""></a>
                                        </div>
                                        <div class="testimonial_content">
                                            <h4><a href="#">Navnit Kumar</a></h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius omnis nam
                                                eum iusto aspernatur cupiditate, ipsam deleniti labore dolorem saepe
                                                nostrum exercitationem amet quod harum blanditiis sint atque soluta
                                                quaerat.</p>
                                        </div>
                                    </div>
                                    <div class="single_testimonial">
                                        <div class="testimonial_img">
                                            <a href="#"><img src="testimonial/testimonial2.jpg" alt=""></a>
                                        </div>
                                        <div class="testimonial_content">
                                            <h4><a href="#">Ravi Kumawat</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla,
                                                aspernatur fugit obcaecati officia eligendi minus possimus, quae eius ex
                                                quasi delectus dolorem. Commodi consectetur saepe magnam atque
                                                reprehenderit suscipit pariatur.

                                            </p>
                                        </div>
                                    </div>
                                    <div class="single_testimonial">
                                        <div class="testimonial_img">
                                            <a href="#"><img src="testimonial/testimonial3.jpg" alt=""></a>
                                        </div>
                                        <div class="testimonial_content">
                                            <h4><a href="#">Nilay Hirpara</a></h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                                accusantium quas excepturi, quam explicabo repudiandae vitae quisquam
                                                ratione voluptatum molestiae exercitationem architecto temporibus eaque
                                                fugit dolores, rerum laborum, optio itaque.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- testimonial section ends -->

                        <!-- Newsletter section starts -->

                        <div class="newsletter_style2">
                            <div class="newsletter_container">
                                <div class="section_title section_title_style2">
                                    <h2>Newsletter</h2>
                                </div>
                                <div class="subscribe_form">
                                    <form>
                                        <input type="email" autocomplete="off" placeholder="example@gmail.com">
                                        <button>
                                            <i class="fa fa-envelope-o"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="newsletter_content">
                                    <p>Sign up to get news and get 25% off instantly.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Newsletter section ends -->